.nav-link:hover,
.nav-link.active {
  color: #20c997;
}

.project-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: white;
  border-radius: 50px;
}

.project-card img {
  width: 180px;
  height: 180px;
  display: block;
}